<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>IMC para Niños</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>



    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('index') }}">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('imc_kids') }}">IMC Kids</a>
              </li>
    

            </ul>
          </div>
        </div>
      </nav>



      

    <div class="div-titulo">
        <h1>Calculador del IMC para Niños  </h1>
    </div>

    <div class="div-calculador">
        <h2>Calculadora de IMC para Niños</h2>

        <form id="form-imc" >
            <h3 class="h3-estatura item"> <b>Estatura: </b> Metros</h3>
            <input class= "input-estatura item" type="text">
            <h3 class="h3-peso item"> <b>Peso: </b>Kilos </h3>
            <input class="input-peso item" type="text">

            <input class="calcular" type="button" value="CACULAR">

        </form>

        
    </div>

    <div class="divInfoImc"></div>



    <script src="static/jav.js"></script>
    
</body>
</html>